/* --- Global Scrollbar (Shared) --- */
::-webkit-scrollbar { width: 6px; height: 6px; background-color: transparent; border-style: none;}
::-webkit-scrollbar-track { background: transparent; border-style: none;}
::-webkit-scrollbar-thumb { background-color: rgba(0, 0, 0, .2); border-radius: 4px; border: 1px solid transparent; background-clip: content-box; }
::-webkit-scrollbar-thumb:hover { background-color: rgba(0, 0, 0, .3); }
::-webkit-scrollbar-track:hover {  background-color: rgba(0, 0, 0, .07); }
::-webkit-scrollbar-thumb:active { background-color: rgba(0, 0, 0, .5); }

/* --- Overleaf Specific Buttons --- */
.ol-zen-button {
    background-color: transparent !important;
    font-size: 14px;
    font-weight: bold;
    color: #555;
    width: 34px;
    height: 34px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.1s, background-color 0.1s;
}
.ol-zen-button:hover {
    color: #000;
    background-color: rgba(0,0,0,0.05) !important;
    border-radius: 4px;
}

/* --- TexPage Specific Buttons --- */
.tp-zen-button {
    background-color: transparent !important;
    color: #d1d5db;
    width: 34px;
    height: 34px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: color 0.1s, background-color 0.1s;
    margin-left: 5px;
    border-radius: 4px;
}
.tp-zen-button:hover {
    color: #ffffff;
    background-color: rgba(255,255,255,0.15) !important;
}
:fullscreen { background-color: #fff; overflow-y: auto; }
